<component name="ArtifactManager">
  <artifact type="exploded-ear" name="springmvc1:javaEEApplication exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc1_javaEEApplication_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc1/javaeeApplication/javaEEApplication" />
    </root>
  </artifact>
</component>